@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    background-color: #EBF1FF;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 40px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20vh;
    min-width: 85%;
    white-space: nowrap;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 24px;
    height: 24px;
}

.logo h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.nav {
    padding: 0px 9.4vw 0px 15.4vw;
    flex-grow: 2;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    list-style-type: none;
}

.nav li a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #7D8790;
}

li.selected a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #215EE9;
}

li.selected {
    position: relative;
}

li.selected::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #215EE9;
    bottom: -14px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
}

li a:hover {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #215EE9;
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 62px;
}

.aut {
    display: flex;
    text-align: center;
    gap: 40px;
}

.aut .logIn{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color:#7D8790;
    border-style: none;
    background-color: #EBF1FF;
    cursor: pointer;
}

.aut .logIn:hover{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color:#215EE9;
    border-style: none;
    background-color: #EBF1FF;
    cursor: pointer;
}

.register{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #ffff;
    width: 146px;
    height: 52px;
    background: #215EE9;
    border-radius: 40px;
    border: #215EE9 solid;
    cursor: pointer;
    transition: 0.3s;
}

.register:hover{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #215EE9;
    width: 146px;
    height: 52px;
    background: #EBF1FF;
    border-radius: 40px;
    border: #215EE9 solid;
    cursor: pointer;
    transition: 0.3s;
}

.not {
    width: 18px;
    height: 18px;
    border-style: none;
    background-color: #EBF1FF;
}