@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-color: #ebf1ff;
  max-width: var(--width);
  overflow-x: hidden;
}

body.mobile-active {
  max-height: 100vh;
  overflow-y: hidden;
}

.container {
  max-width: 1292px;
  width: 100%;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #215ee9;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.background-images {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: -1;
}

.vectors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
}

.upper-vector, .lower-vector{
  width: 100%; 
  display: flex;
}

.upper-vector {
  position: absolute;
  width: 1133.5px;
  height: 450.15px;
  left: 752px;
  top: 54px;
}

.lower-vector {
  position: absolute;
  width: 1133.5px;
  height: 550.15px;
  top: 640px;
}

.first-group-vectors {
  justify-self: flex-end; 
}

@media screen and (max-width: 1600px) { 
  .background-images {
    display: none !important;
  }
}
